@keyframes floatUp {
    from {
        opacity: 0;
        transform: translateY(30px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);   
    }
}

body {
    font-family: sans-serif;
    background-color: #37353E;
    color: #D3DAD9;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
.user_input{
    background-color: #D3DAD9;
    color:#44444E;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    animation: floatUp 0.4s ease-out forwards;

}
.user_input_box{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: floatUp 0.4s ease-out forwards;
    animation-delay: 3s;
}
.user_input_btn{
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: #715A5A;
    color: #D3DAD9;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    transition:150ms;
}
.user_input_btn:hover{
    width: 120px;
    height: 70px;
}
.typing_title {
    font-size: 90px;
    font-family: sans-serif; 
    overflow: hidden;
    border-right: 5px solid #D3DAD9; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 2px;
    
    width: 0; 
    animation: 
        typing 1s forwards,
        blink-caret 0.75s step-end infinite,
        zoom-anim 1s forwards;
}
.body_text_1{
    opacity: 0;
    animation: floatUp 0.4s ease-out forwards;
    animation-delay: 1s;
}
.body_text_2{
    opacity: 0;
    animation: floatUp 0.4s ease-out forwards;
    animation-delay: 1.5s;
}
.body_text_3{
    opacity: 0;
    animation: floatUp 0.4s ease-out forwards;
    animation-delay: 2s;
}
table{
    margin: 40px auto;
    border-collapse: seperate;
    border-spacing: 0;
    
    border-radius: 15px;
    overflow: hidden;

    text-align: center;
}
thead tr{
    background-color: #252130;
    color:#D3DAD9;
}
tbody tr:nth-child(odd){
    background-color: #dbd8e3;
    color:#252130;
}

tbody tr:nth-child(even){
    background-color:#5c5470;
    color:#252130;
}

tbody tr:hover{
    background-color:lightsalmon;
}
th, td{
    text-align: left;
    padding: 8px;
    font-weight: bold;
}
.clickable-row {
    cursor: pointer;
}

tbody tr.selected-row {
    background-color: rgb(245, 153, 117) !important;
    color: white !important;
}
.centre_selection{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.drive_input_btn{
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #715A5A;
    color: #D3DAD9;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    transition:150ms;
}
.drive_input_btn:hover{
    width: 120px;
    height: 70px;
}
.drive_title{
    font-size: 90px;
    font-family: sans-serif; 
    overflow: hidden;
    border-right: 5px solid #D3DAD9; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 2px;
    
    width: max-content; 
    animation: blink-caret 0.75s step-end infinite;
}
.float_up_content{
    animation: floatUp 0.4s ease-out forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 320px; }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D3DAD9; }
}

@keyframes zoom-anim {
    0%{
        font-size: 500px;
    }
    100%{
        font_size: 90px;
    }
    
}
