.header{
    display: flex; 
    justify-content: center; 
    width: 100%; 
    height: 50px; 
    border: 1px solid black; 
    align-items: center; 
    text-align: center; 
    padding:0;
    border-radius: 15px;
}

.info_box {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: calc(100vh - 100px); 
    margin-top: 20px;
}

.user_box {
    width: 21%;
    border: 1px solid black;
    border-radius: 10px;
}
.user_box:hover{
    border: 2px solid black;
}
.mounts_box{
    width: 55%;     
    border: 1px solid black;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 20px;
}

.mounts_box:hover{
    outline: 1px solid black;
}
.activity_box {
    width: 21%;
    border: 1px solid black;
    border-radius: 10px;
}
.activity_box:hover{
    border: 2px solid black;
}

.mounts{
    border:1px solid black;
    color: black;
    width: 97%;             
    margin: 10px auto;    
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;    
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.mounts:hover{
    border: 2px solid black;
}
