body{
    background-color: #37353E;
    font-family: sans-serif;
}

.user_info_box {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
    height: calc(100vh - 100px); 
    margin-top: 20px;
    gap: 15px; 
}


#details_form {
    display: flex;
    width: 66%;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}


.header {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
    box-sizing: border-box; 
    
    width: 100%; 
    height: 50px; 
    border: 1px solid black; 
    border-radius: 15px;
    background-color: #44444E;
    color: #D3DAD9;
}
.preview_box {
    display: flex;
    flex-direction: column; 
    padding: 15px;
    width: 49%; 
    border: 1px solid black;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 20px;
    background-color: #44444E;
    color: #D3DAD9;
}


.files_box {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    padding: 15px;
    width: 49%; 
    border: 1px solid black;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 20px;
    background-color: #44444E;
    color: #D3DAD9;
}


.ud_box {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    width: 33%; 
    height: 100%; 

}

.files_info_box, .files_upload_box, .drive_info {
    width: 100%; 
    height: 33%; 
    border: 1px solid black;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 20px;
    padding: 15px;
    background-color: #44444E;
    color: #D3DAD9;
    display: flex;
    flex-direction: column; 
    align-items: center;

}

.preview_box:hover, .files_box:hover, .files_info_box:hover, .files_upload_box:hover, .drive_info:hover {
    outline: 1px solid black;
}
.files {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.files th, .files td {
    padding: 8px;
}

.file-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.file-name a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}



.file_managing {
    display: flex;
    flex-direction: row;     
    justify-content: space-between; 
    align-items: center;     
    width: 100%; 
    gap: 10px;              
    flex-wrap: nowrap;       
}


.file_managing div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}
.file_options{
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.download_btn{
    cursor: pointer;
    font-size: 20px;
    background-color: #715A5A;
    color: #D3DAD9;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    transition:150ms;
}
.delete_btn{
    cursor: pointer;
    margin-top: 5px;
    font-size: 20px;
    background-color: indianred;
    color: #D3DAD9;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    transition:150ms;
}
.download_btn:hover{
    width: 120px;
    height: 70px;
    font-weight: bold;
    border: 2px solid #D3DAD9;
}
.delete_btn:hover{
    width: 120px;
    height: 70px;
    font-weight: bold;
    border: 2px solid #D3DAD9;
}
table{
    margin: 40px auto;
    border-collapse: seperate;
    border-spacing: 0;
    
    border-radius: 15px;
    overflow: hidden;

    text-align: center;
}
thead tr{
    background-color: #252130;
    color:#D3DAD9;
}
tbody tr:nth-child(odd){
    background-color: #dbd8e3;
    color:#252130;
}

tbody tr:nth-child(even){
    background-color:#5c5470;
    color:#D3DAD9;
}

tbody tr:hover{
    background-color:lightsalmon;
    color:#252130;
    
}
th, td{
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

tbody tr a {
    text-decoration: none;   
    font-weight: bold;
}

tbody tr:nth-child(odd) a {
    color: #252130;
}

tbody tr:nth-child(even) a {
    color: #D3DAD9;
}
tbody tr:hover a {
    color: #252130;
}
.hidden-upload {
    display: none;
}
.file_choose_btn{
    cursor: pointer;
    font-size: 20px;
    background-color: #715A5A;
    color: #D3DAD9;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.file_choose_btn:hover{
    font-weight: bold;
    border: 2px solid #D3DAD9;
}
.upload_btn {
    margin-top: 30px;
    display: none; 
    cursor: pointer;
    font-size: 20px;
    background-color: #715A5A; 
    color: #D3DAD9;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.upload_btn:hover {
    font-weight: bold;
    border: 2px solid #D3DAD9;
}
.content{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    align-content: center;
}
.search_bar{
    background-color: #37353E;
    color: #D3DAD9;
    border:none;
    border-radius: 5px;
    height:30px;
}
.enter_btn{
    cursor: pointer;
    background-color: #715A5A;
    color: #D3DAD9;
    border:none;
    border-radius:5px;
}
.header_links{
    text-decoration: none;   
    font-weight: normal;
    color: #D3DAD9;
}
.header_links:hover{
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}
.file-name a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: inline-block;
    max-width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    vertical-align: bottom;
}
.drive_stats{
    margin-top: 40px;
    border: none;
}