{% extends 'dashboard_base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class = "header">
    <h1 style="margin: 0;">Bridge.</h1>
</div>
<div class="info_box">
    <div class="user_box">
    </div>

    <div class="mounts_box">
        {% for drive in drives %}
            <div class="mounts">
                <h2>{{ drive.drive_name }}</h2>
                <h2>{{ drive.drive_size }}</h2>
                <h2>{{ drive.drive_mnt }}</h2>
            </div>
        {% endfor %}
    </div>

    <div class="activity_box">
    </div>
</div>
{% endblock %}