{% extends 'dashboard_base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class = "header">
    <h1 style="margin: 0;">Bridge.</h1>
</div>
<div class="user_info_box">
    <form id="details_form" class = "flex_form" action="/user_dashboard?username={{ username }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="selected_file" id="selected_file">
    <div class = "files_box">
    <table>
        <thead>
            <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Date Modified</th>
            </tr>
        </thead>
        <tbody>
            
            {% for file in files %}
            <tr onclick="chosen_file('{{ file.name }}')">
                <td>{{ file.name }}</td>
                <td>{{ file.size }}</td>
                <td>{{ file.modified }}</td>
            </tr>    
            {% else %}
            <tr><td>No files found</td></tr>
            {% endfor %}
            
        </tbody>
        
    </table>
    </div>
    <div class = "ud_box">
        <div class = "files_info_box">
            {% if file_selected %}
            <h3>{{ selected_file }}</h3>
            <a href="{{ url_for('download_file', username=username, filename=selected_file) }}">
            <button type="button">Download</button>
            </a>
            {% endif %}
        </div>
        <div class = "files_upload_box">
            <input type="file" name="file_to_upload" id="file_to_upload" style="width: 80%;">
            <button type="submit" name="action" value="upload">Upload to Cloud</button>
            </a>
        </div>
    </div>
    </form>
</div>
{% endblock %}